.Loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--col-shadow-light);
  z-index: 1000;

  &::before {
    content: "";
    width: 5rem;
    height: 5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 0.25rem solid transparent;
    border-top-color: var(--col-main-highlight);
    border-left-color: var(--col-main-highlight);
    animation: spin 750ms cubic-bezier(.69,-0.01,.05,1.01) infinite;
    pointer-events: none;
  }
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}