.Utilities {
  margin: 3rem 0;

  > h2 {
    margin-bottom: 0.5rem;
  }
}

.Wrapper {
  display: flex;
  flex-flow: row wrap;

  > div {
    margin: 0.75rem 1.5rem 0.75rem 0;
  }
}

.Tag {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;

  > p {
    margin-left: 0.5rem;
  }
}