.ReservationTitle {
  margin: 2rem 0;
  color: var(--col-main-highlight);
}

.ReservationDetails {
  background: var(--col-main-low-contrast);
  height: 100%;
}

.ReservationBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ReservationBlock {
  padding: 0.5rem 0;

  > h2 {
    margin-bottom: 0.5rem;
  }
}

.ReservationCard {
  padding: 2rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.25rem var(--col-shadow-light);
  background: var(--col-body);

  > p {
    display: flex;
    flex-direction: column;

    + p {
      margin-top: 2rem;
    }
  }
}

.Reservation {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}

.ReservationAside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 2.925rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.25rem var(--col-shadow-light);
  background: var(--col-body);
  
  > * {
    margin: 1rem;
  }

  > img {
    margin: 0;
    max-width: 100%;
  }

}

.ReservationDates {
  border-top: 1px solid var(--col-main-low-contrast);
  border-bottom: 1px solid var(--col-main-low-contrast);

  > p {
    display: flex;
    justify-content: space-between;
  }

  > * {
    margin: 1rem 0;
  }

  hr {
    border: none;
    border-top: 1px solid var(--col-main-low-contrast);
  }
}